# FileMaker Data API
FM_HOST=https://prueba.digitalix.com.co
FM_DATABASE=DATA_API
FM_USERNAME=admin
FM_PASSWORD=100921138
FM_LAYOUT=Tabla_Productos

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development
